/* .*{
     padding: 0px;
            /*universal selector
} */
h1
{
    padding-top: 5px;
    padding-bottom: 15px;
	font-variant-caps: small-caps;
    /* text-shadow: 10px 13px 13px rgba(128, 128, 128, 0.259); */
}
body
{
    /* background-color: rgba(255, 0, 93, 0.877); */
    background: linear-gradient(to right,purple, red,purple); /*for giving multiple color mixture and minimum colour argument is 2 maximum is no limit i think justify online for max*/
}

.login
{
  background-color: white;
  padding: 20px;
  border: none;
  transform: translateX(-20px) translateY(150px);
  border-radius: 20px;
  margin: -31px;
  align-items: center;
  width: 21%;
  height: 478px;
}
.loginHeading
{
    margin-bottom: 20px;

}

#btn1   /* button selected using id with # prefix operator in css*/
{
    padding: 7px 28px;
  border: none;
  border-radius: 5px;
  color: white;
  background: linear-gradient(to right, red,purple);
  /* background-color: rgba(255, 0, 93, 0.877); */
  /* margin-bottom: auto; */
}

#btn2
{
    /* margin-bottom: ; */
    padding: 7px 28px;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    /* background-color:white */
}

button
{
    margin-bottom: 10px;
    transition: 1s;
}
button:hover
{
    box-shadow: 10px 10px 15px black;
}

#btn3
{
    height: 35px; 
    width: 98%;
    border: none;
    margin-top: 25px;
    margin-bottom: 47px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right,red,purple);
}
input
{
    height: 35px; 
    width: 94%;
    margin-top: 4px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 7px 5px;
}
input:hover
{
    border: 3px solid black;
}
a
{
    color: rgba(255, 0, 0, 0.666);
    text-decoration: solid;
    transition: 0.5s;
    /* height: 130px; */
    /* width: 240px; */
    /* background-color: aqua; */
}

a:hover
{
   color: rgb(49, 43, 226); 
}

p
{
 text-decoration: solid;
}

.options 
{
    margin-top: -10px;
    margin-bottom: 30px;
}
/* anchor tag is inline, heading are blocks, images are inline blocks, whenever height and width is not working for any element change them to block or inline block bcz only inine display property does not support height and width*/